extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='../api/otp')
    button(type='button' ) OTP Gen
  if otp
    p #{otp}
  a(href='../api/door')
    button(type='button') Door State
  if door
    p #{door}
