extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='../api/otp/?id=1')
    button(type='button' ) OTP Gen
  if otp
    p Generated OTP : #{otp}
  if userOTP
    p userOTP : #{userOTP}
  if door
    p
